* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 3rem;
    text-align: center;
}

h2, h3 {
    text-align: center;
    margin: 3rem;

    
}

img {
    width: 95vw;
    align-content: center;
    padding-left: 20px;
}

button {
    align-content: center;
    padding: 20px;
    margin: 3rem;
    font-size: large;
    background-color: rgb(187, 32, 32);
    
    border-radius: 10px;
}